<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="p-5  bg-body-tertiary rounded-3">
            <h3>Edit Listing</h3>
            <form method="POST" action="/listing/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" value="<%= listing.title%>" class="form-control" id="exampleFormControlInput1"
                        name="listing[title]" required>
                </div>
                <div class=" mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="listing[description]"
                        required><%=listing.description%></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="number" class="form-control" id="exampleFormControlInput2" value="<%= listing.price%>"
                        name="listing[price]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Update Image</label>
                    <input type="file" class="form-control" id="exampleFormControlInput3" name="listing[image]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Location</label>
                    <input type="text" class="form-control" id="exampleFormControlInput4" value="<%= listing.location%>"
                        name="listing[location]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Country</label>
                    <input type="text" class="form-control" id="exampleFormControlInput5" value="<%= listing.country%>"
                        name="listing[country]" required>
                </div>
                <button class="btn btn-primary">Edit</button>
            </form>
        </div>
    </body>